{
    "openapi": "3.0.0",
    "info": {
        "title": "BOMEQP API",
        "description": "BOMEQP Accreditation Management System API Documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://app.bomeqp.com",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000/api",
            "description": "Local Development Server"
        }
    ],
    "paths": {
        "/acc/categories": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List ACC categories",
                "description": "Get categories assigned to ACC or created by ACC.",
                "operationId": "56c5693b319748ca955d3407b7488b5d",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by category name (English or Arabic)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        },
                        "example": "active"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 15)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ACC"
                ],
                "summary": "Create category",
                "description": "Create a new category.",
                "operationId": "a838a0586d3a58d9cdf6d47e9d53dfcf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "status"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Fire Safety"
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "example": "السلامة من الحرائق",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category created successfully"
                                        },
                                        "category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/categories/{id}": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get category details",
                "description": "Get a specific category. Only accessible if assigned to ACC or created by ACC.",
                "operationId": "13b954e45e2ae8acc9177d1c7a8569e4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Category not found or not accessible"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Update category",
                "description": "Update a category. Only accessible if assigned to ACC or created by ACC.",
                "operationId": "375c238daa3fffb2f3e3e0c34480c72c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "icon_url": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Category updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category updated successfully"
                                        },
                                        "category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Category not found or not accessible"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ACC"
                ],
                "summary": "Delete category",
                "description": "Delete a category. Only accessible if created by ACC.",
                "operationId": "51c909120e6b06a3a69a56b104d5b389",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Category deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Cannot delete category - not created by ACC"
                    },
                    "404": {
                        "description": "Category not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/categories/sub-categories": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List subcategories",
                "description": "Get subcategories for accessible categories.",
                "operationId": "82f871c5b63f92a4cad64b375340b06e",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by sub-category name (English or Arabic)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        },
                        "example": "active"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 15)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Category not accessible"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ACC"
                ],
                "summary": "Create subcategory",
                "description": "Create a new subcategory for an accessible category.",
                "operationId": "68630c6435c6cbed5a5799475d0e07f8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "category_id",
                                    "name",
                                    "status"
                                ],
                                "properties": {
                                    "category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Basic Fire Safety"
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Subcategory created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "sub_category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Category not accessible"
                    },
                    "404": {
                        "description": "ACC or category not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/categories/sub-categories/{id}": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get subcategory details",
                "description": "Get a specific subcategory. Only accessible if the parent category is assigned to ACC or created by ACC.",
                "operationId": "0a74a9073dafaf35abf3a341efd6f369",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategory retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "sub_category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Subcategory not found or not accessible"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Update subcategory",
                "description": "Update a subcategory. Only accessible if created by ACC or belongs to assigned category.",
                "operationId": "abbb27c971f20326e8a79d591324dfaa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subcategory updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Subcategory updated successfully"
                                        },
                                        "sub_category": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Cannot update subcategory"
                    },
                    "404": {
                        "description": "Subcategory not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ACC"
                ],
                "summary": "Delete subcategory",
                "description": "Delete a subcategory. Only accessible if created by ACC.",
                "operationId": "c5afea6415486c7af59c244069aec700",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategory deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Subcategory deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Cannot delete subcategory - not created by ACC"
                    },
                    "404": {
                        "description": "Subcategory not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/certificates": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List ACC certificates",
                "description": "Get all certificates issued for courses belonging to the authenticated ACC.",
                "operationId": "bc30c9fd018850f8ae381bc1d1194961",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by trainee name, certificate number, verification code, course name, or training center name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "valid",
                                "expired",
                                "revoked"
                            ]
                        },
                        "example": "valid"
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Certificates retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/certificate-templates": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List certificate templates",
                "description": "Get all certificate templates for the authenticated ACC.",
                "operationId": "205872b7cede6647e57277928a2aa8e6",
                "responses": {
                    "200": {
                        "description": "Templates retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "templates": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ACC"
                ],
                "summary": "Create certificate template",
                "description": "Create a new certificate template for the authenticated ACC.",
                "operationId": "a4f4df34c7380feef356d4932a045897",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "status",
                                    "course_ids"
                                ],
                                "properties": {
                                    "course_ids": {
                                        "description": "Array of course IDs - applies template to these specific courses. At least one course_id must be provided.",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Fire Safety Certificate Template"
                                    },
                                    "template_html": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Template created successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/certificate-templates/{id}": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get certificate template details",
                "operationId": "f8e3bb9a7bb32ff18499c37f9a39a171",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Template retrieved successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Template not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Update certificate template",
                "description": "Update a certificate template. Provide course_ids array to update the courses associated with this template.",
                "operationId": "c3c09a6337b0106bfe1031aceecfd247",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "course_ids": {
                                        "description": "Array of course IDs - applies template to these specific courses. At least one course_id must be provided.",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            1,
                                            2,
                                            3
                                        ]
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Fire Safety Certificate Template"
                                    },
                                    "template_html": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive"
                                        ],
                                        "example": "active"
                                    },
                                    "config_json": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "variable": {
                                                    "type": "string"
                                                },
                                                "x": {
                                                    "type": "number",
                                                    "format": "float"
                                                },
                                                "y": {
                                                    "type": "number",
                                                    "format": "float"
                                                },
                                                "font_family": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "fontFamily": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "font_size": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "fontSize": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "color": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "text_align": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "textAlign": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Template updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Course does not belong to this ACC"
                    },
                    "404": {
                        "description": "Template not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "ACC"
                ],
                "summary": "Delete certificate template",
                "description": "Delete a certificate template. Certificates using this template will remain but their template_id will be set to null.",
                "operationId": "722956e1c79ce6c0debd991cf88199ed",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Template deleted successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Template not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/certificate-templates/{id}/upload-background": {
            "post": {
                "tags": [
                    "ACC"
                ],
                "summary": "Upload background image for certificate template",
                "description": "Upload a high-resolution background image (JPG/PNG) for the certificate template.",
                "operationId": "bff9c9ee5fc5fcdbdadb437d813015b8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "background_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Background image uploaded successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Template not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/certificate-templates/{id}/config": {
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Update certificate template configuration",
                "description": "Update the template designer configuration (config_json) with placeholders, coordinates, and styling.",
                "operationId": "0c61906492398bee0883d8f19178af6c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "config_json"
                                ],
                                "properties": {
                                    "config_json": {
                                        "description": "Array of placeholder configurations with coordinates (as percentages), styling, etc.",
                                        "type": "array",
                                        "items": {
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Configuration updated successfully"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Template not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/classes": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List ACC classes",
                "description": "Get all classes from training centers that have authorization from this ACC. Only shows classes for courses that belong to the ACC.",
                "operationId": "42a8b5f44e04597ef4fa3e781616f02e",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by class name, course name, training center name, instructor name, or status",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "scheduled",
                                "in_progress",
                                "completed",
                                "cancelled"
                            ]
                        },
                        "example": "in_progress"
                    },
                    {
                        "name": "training_center_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "example": "2024-01-01"
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        },
                        "example": "2024-12-31"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Classes retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "course_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "training_center_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "instructor_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "start_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2024-01-15"
                                                    },
                                                    "end_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2024-01-20"
                                                    },
                                                    "exam_date": {
                                                        "type": "string",
                                                        "format": "date",
                                                        "example": "2024-01-25",
                                                        "nullable": true
                                                    },
                                                    "exam_score": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 85.5,
                                                        "nullable": true
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "scheduled",
                                                            "in_progress",
                                                            "completed",
                                                            "cancelled"
                                                        ],
                                                        "example": "in_progress"
                                                    },
                                                    "enrolled_count": {
                                                        "type": "integer",
                                                        "example": 15
                                                    },
                                                    "location": {
                                                        "type": "string",
                                                        "enum": [
                                                            "physical",
                                                            "online"
                                                        ],
                                                        "example": "physical"
                                                    },
                                                    "course": {
                                                        "description": "Course details",
                                                        "type": "object"
                                                    },
                                                    "training_center": {
                                                        "description": "Training center details",
                                                        "type": "object"
                                                    },
                                                    "instructor": {
                                                        "description": "Instructor details",
                                                        "type": "object"
                                                    },
                                                    "trainees": {
                                                        "description": "List of trainees enrolled in this class",
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "first_name": {
                                                                    "type": "string",
                                                                    "example": "John"
                                                                },
                                                                "last_name": {
                                                                    "type": "string",
                                                                    "example": "Doe"
                                                                },
                                                                "email": {
                                                                    "type": "string",
                                                                    "example": "john.doe@example.com"
                                                                },
                                                                "phone": {
                                                                    "type": "string",
                                                                    "example": "+1234567890"
                                                                },
                                                                "id_number": {
                                                                    "type": "string",
                                                                    "example": "123456789"
                                                                },
                                                                "status": {
                                                                    "type": "string",
                                                                    "example": "active"
                                                                },
                                                                "pivot": {
                                                                    "description": "Enrollment details",
                                                                    "properties": {
                                                                        "status": {
                                                                            "type": "string",
                                                                            "example": "enrolled"
                                                                        },
                                                                        "enrolled_at": {
                                                                            "type": "string",
                                                                            "format": "date-time",
                                                                            "example": "2024-01-10T10:00:00.000000Z"
                                                                        },
                                                                        "completed_at": {
                                                                            "type": "string",
                                                                            "format": "date-time",
                                                                            "example": null,
                                                                            "nullable": true
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 50
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/classes/{id}": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get class details",
                "description": "Get detailed information about a specific class. Only shows classes from authorized training centers.",
                "operationId": "5215c9c806ece1f3a82ca79b080d3022",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Class retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "course_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "training_center_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "instructor_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "start_date": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-01-15"
                                        },
                                        "end_date": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-01-20"
                                        },
                                        "exam_date": {
                                            "type": "string",
                                            "format": "date",
                                            "example": "2024-01-25",
                                            "nullable": true
                                        },
                                        "exam_score": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 85.5,
                                            "nullable": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "scheduled",
                                                "in_progress",
                                                "completed",
                                                "cancelled"
                                            ],
                                            "example": "in_progress"
                                        },
                                        "enrolled_count": {
                                            "type": "integer",
                                            "example": 15
                                        },
                                        "location": {
                                            "type": "string",
                                            "enum": [
                                                "physical",
                                                "online"
                                            ],
                                            "example": "physical"
                                        },
                                        "course": {
                                            "description": "Course details",
                                            "type": "object"
                                        },
                                        "training_center": {
                                            "description": "Training center details",
                                            "type": "object"
                                        },
                                        "instructor": {
                                            "description": "Instructor details",
                                            "type": "object"
                                        },
                                        "trainees": {
                                            "description": "List of trainees enrolled in this class",
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "first_name": {
                                                        "type": "string",
                                                        "example": "John"
                                                    },
                                                    "last_name": {
                                                        "type": "string",
                                                        "example": "Doe"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "john.doe@example.com"
                                                    },
                                                    "phone": {
                                                        "type": "string",
                                                        "example": "+1234567890"
                                                    },
                                                    "id_number": {
                                                        "type": "string",
                                                        "example": "123456789"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "active"
                                                    },
                                                    "pivot": {
                                                        "description": "Enrollment details",
                                                        "properties": {
                                                            "status": {
                                                                "type": "string",
                                                                "example": "enrolled"
                                                            },
                                                            "enrolled_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2024-01-10T10:00:00.000000Z"
                                                            },
                                                            "completed_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": null,
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Class not found or not authorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/code-batches/pending-payments": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get pending manual payment requests",
                "description": "Get all pending manual payment requests for code purchases from this ACC.",
                "operationId": "4210be6bb9ff53c6f7531cb82787243d",
                "responses": {
                    "200": {
                        "description": "Pending requests retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "batches": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/code-batches/{id}/approve-payment": {
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Approve manual payment request",
                "description": "Approve a manual payment request and complete the code purchase.",
                "operationId": "8b763deacd6d1bdae657a9fc4cb22fa6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "payment_amount"
                                ],
                                "properties": {
                                    "payment_amount": {
                                        "description": "The payment amount to verify",
                                        "type": "number",
                                        "example": 1000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment approved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Payment approved and codes generated successfully"
                                        },
                                        "batch": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid payment amount or batch already processed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Not authorized to approve this batch"
                    },
                    "404": {
                        "description": "Batch not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/code-batches/{id}/reject-payment": {
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Reject manual payment request",
                "description": "Reject a manual payment request.",
                "operationId": "d24d21324e11511e25e16624af1c07c5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "rejection_reason"
                                ],
                                "properties": {
                                    "rejection_reason": {
                                        "type": "string",
                                        "example": "Payment receipt is unclear or amount mismatch"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment rejected successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Payment request rejected"
                                        },
                                        "batch": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Not authorized to reject this batch"
                    },
                    "404": {
                        "description": "Batch not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/courses": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "List ACC courses",
                "description": "Get all courses for the authenticated ACC with optional filtering.",
                "operationId": "ee4b8dc1a3e49e57d71872211ab350d1",
                "parameters": [
                    {
                        "name": "sub_category_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "level",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by course name, code, or description",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of items per page (default: 15)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number (default: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Courses retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "per_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "last_page": {
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "ACC"
                ],
                "summary": "Create a new course",
                "description": "Create a new course with optional pricing. If pricing is provided, it will be set for the course.",
                "operationId": "42db5ade610c0b976b24ff2561ac77fa",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "sub_category_id",
                                    "name",
                                    "code",
                                    "duration_hours",
                                    "max_capacity",
                                    "level",
                                    "status"
                                ],
                                "properties": {
                                    "sub_category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Advanced Fire Safety"
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "example": "السلامة من الحرائق المتقدمة",
                                        "nullable": true
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "AFS-001"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Advanced fire safety training course",
                                        "nullable": true
                                    },
                                    "duration_hours": {
                                        "type": "integer",
                                        "example": 40
                                    },
                                    "max_capacity": {
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "assessor_required": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "level": {
                                        "type": "string",
                                        "enum": [
                                            "beginner",
                                            "intermediate",
                                            "advanced"
                                        ],
                                        "example": "advanced"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ],
                                        "example": "active"
                                    },
                                    "pricing": {
                                        "properties": {
                                            "base_price": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 500
                                            },
                                            "currency": {
                                                "type": "string",
                                                "example": "USD"
                                            }
                                        },
                                        "type": "object",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Course created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Course created successfully with pricing"
                                        },
                                        "course": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "ACC not found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/acc/courses/{id}": {
            "get": {
                "tags": [
                    "ACC"
                ],
                "summary": "Get course details",
                "description": "Get detailed information about a specific course including pricing.",
                "operationId": "f1bf2d4ddf2e73b6b2c10335828dbdab",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Course retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "course": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Course not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "ACC"
                ],
                "summary": "Update course",
                "description": "Update course details and optionally update or set pricing. If pricing is provided, it will be updated or created.",
                "operationId": "82470e71b186bf174674e36324ba2173",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sub_category_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Advanced Fire Safety",
                                        "nullable": true
                                    },
                                    "name_ar": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "AFS-001",
                                        "nullable": true
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "duration_hours": {
                                        "type": "integer",
                                        "example": 40,
                                        "nullable": true
                                    },
                                    "max_capacity": {
                                        "type": "integer",
                                        "example": 25,
                                        "nullable": true
                                    },
                                    "assessor_required": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "level": {
                                        "type": "string",
                                        "enum": [
                                            "beginner",
                                            "intermediate",
                                            "advanced"
                                        ],
                                        "nullable": true
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "active",
                                            "inactive",
                                            "archived"
                                        ],
                                        "nullable": true
                                    },
                                    "pricing": {
[...]
